<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-md-3">
        <h2 class="my-4">Ejercicios por paciente</h2>
      </div>
      <div class="col-md-2 my-4">
        <button class="btn btn-secondary" routerLink="../addejercicio">
          Crear ejercicio
        </button>
      </div>
    </div>
    <div class="row d-flex justify-content-around">
      <div class="col-md-6">
        <form
          [formGroup]="ejerciciosPacientesForm"
          (ngSubmit)="agregarEjercicioPaciente()"
        >
          <h3 class="mb-2">Paciente</h3>
          <div class="col-md-4 mb-3">
            <select class="form-select" formControlName="apellido" required>
              <!--debe ir un ngfor y un ngif-->
              <option value="1">uno</option>
              <option value="2">dos</option>
              <option value="3">tres</option>
            </select>
            <div
              *ngIf="
                ejerciciosPacientesForm.get('apellido')?.hasError('required') &&
                ejerciciosPacientesForm.get('apellido')?.touched
              "
              class="alert alert-danger"
            >
              El campo es obligatorio
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <label class="mb-2">Ejercicio</label>
              <div>
                <select
                  class="form-select"
                  formControlName="ejercicio"
                  required
                >
                  <!--debe ir un ngfor y un ngif-->
                  <option value="1">uno</option>
                  <option value="2">dos</option>
                  <option value="3">tres</option>
                </select>
                <div
                  *ngIf="
                    ejerciciosPacientesForm
                      .get('ejercicio')
                      ?.hasError('required') &&
                    ejerciciosPacientesForm.get('ejercicio')?.touched
                  "
                  class="alert alert-danger"
                >
                  El campo es obligatorio
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <label class="mb-2">Cantidad</label>
              <div>
                <select class="form-select" formControlName="cantidad" required>
                  <option value="{{ n }}" *ngFor="let n of [1, 2, 3, 4]">
                    {{ n }}
                  </option>
                </select>
                <div
                  *ngIf="
                    ejerciciosPacientesForm
                      .get('cantidad')
                      ?.hasError('required') &&
                    ejerciciosPacientesForm.get('cantidad')?.touched
                  "
                  class="alert alert-danger"
                >
                  El campo es obligatorio
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <label class="mb-2">Repeticion</label>
              <div>
                <select
                  class="form-select"
                  formControlName="repeticion"
                  required
                >
                  <option value="{{ n }}" *ngFor="let n of [1, 2, 3, 4]">
                    {{ n }}
                  </option>
                </select>
                <div
                  *ngIf="
                    ejerciciosPacientesForm
                      .get('repeticion')
                      ?.hasError('required') &&
                    ejerciciosPacientesForm.get('repeticion')?.touched
                  "
                  class="alert alert-danger"
                >
                  El campo es obligatorio
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-dark mt-2">Agregar</button>
        </form>
      </div>
      <div class="col-md-6">
        <label class="mb-3">Ejercicios por paciente</label>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">apellido</th>
              <th scope="col">ejercicio</th>
              <th scope="col">cantidad</th>
              <th scope="col">repeticion</th>
              <th scope="col">acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pacienteEjercicio of pacienteEjercicios">
              <td scope="row">{{ pacienteEjercicio.apellido }}</td>
              <td>{{ pacienteEjercicio.ejercicio }}</td>
              <td>{{ pacienteEjercicio.cantidad }}</td>
              <td>{{ pacienteEjercicio.repeticion }}</td>
              <td>
                <button class="btn bg-danger">editar</button
                ><button class="btn bg-primary">eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{ejerciciosPacientesForm.value| json}}