<div class="container">
  <div class="row d-flex justify-content-around">
    <h2 class="my-4">Datos del nuevo paciente</h2>
    <form [formGroup]="pacienteForm" (ngSubmit)="agregarPaciente()">
      <div class="col-md-3">
        <div class="mb-3">
          <select class="form-select" formControlName="ob" required>
            <!--debe ir un ngfor y un ngif-->
            <option value="" selected disabled>Obra social</option>
            <option value="1">uno</option>
            <option value="2">dos</option>
            <option value="3">tres</option>
            <option value="4">No poseo ninguna</option>
          </select>
          <div
            class="alert alert-danger"
            *ngIf="
              pacienteForm.get('ob')?.hasError('required') &&
              pacienteForm.get('ob')?.touched
            "
          >
            El campo es obligatorio
          </div>
        </div>

        <div class="mb-3">
          <select class="form-select" formControlName="prof" required>
            <option value="" selected disabled>Profesional</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <div
            class="alert alert-danger"
            *ngIf="
              pacienteForm.get('prof')?.hasError('required') &&
              pacienteForm.get('prof')?.touched
            "
          >
            El campo es obligatorio
          </div>
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            formControlName="dni"
            required
            placeholder="Ingrese DNI"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              pacienteForm.get('dni')?.hasError('required') &&
              pacienteForm.get('dni')?.touched
            "
          >
            El campo es obligatorio
          </div>
        </div>

        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            formControlName="cel"
            required
            placeholder="Ingrese cel"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              pacienteForm.get('cel')?.hasError('required') &&
              pacienteForm.get('cel')?.touched
            "
          >
            El campo es obligatorio
          </div>
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            formControlName="nombre"
            required
            placeholder="Ingrese Nombre"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              pacienteForm.get('nombre')?.hasError('required') &&
              pacienteForm.get('nombre')?.touched
            "
          >
            El campo es obligatorio
          </div>
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            formControlName="apellido"
            required
            placeholder="Ingrese apellido"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              pacienteForm.get('apellido')?.hasError('required') &&
              pacienteForm.get('apellido')?.touched
            "
          >
            El campo es obligatorio
          </div>
        </div>
        <button
          type="submit"
          [disabled]="pacienteForm.invalid"
          class="btn btn-dark"
        >
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
{{ pacientes | json }}
