<div class="container">
  <div class="row mt-4 d-flex justify-content-around">
    <div class="col-md-8">
      <app-comentarios></app-comentarios>
    </div>
    <div class="col-md-4">
      <div>
        <h2>Encontranos en</h2>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13394.163091254273!2d-60.648707699999996!3d-32.936729299999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7abda3fe90df7%3A0x8669891107ce3b7a!2zQXJhbcOtIEtpbmVzaW9sb2fDrWE!5e0!3m2!1ses!2sar!4v1693302466078!5m2!1ses!2sar"
          width="100%"
          height="200"
        ></iframe>
      </div>
      <div class="text-white">
        <h3 class="mb-0">Nos encontramos en Moreno 178</h3>
        <h2>arami.kinesiologia <i class="fa-brands fa-instagram fa-2"></i></h2>
      </div>
    </div>
  </div>
</div>
